__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.sqlite3
media/
staticfiles/
.env
.env.*
venv/
.venv/
pip-cache/
.mypy_cache/
pytest_cache/


client_app/node_modules/
client_app/dist/
client_app/build/

client_app/.vite/


.git/
.gitignore
Dockerfile*
docker-compose*
.idea/
.vscode/
.DS_Store
*.log
Thumbs.db
